{% extends 'base.html.twig' %}

{% block title %}Pelicula {{pelicula.nombre}}{% endblock %}
{% block body %}
<form method="POST" action="/oci/api">
    <input style="display:none" name="id" type="hidde" value="{{pelicula.id}}"/>
    <label>Titulo:</label><input name="nombre" type="text" value="{{pelicula.nombre}}"/>
    <label>Género:</label> <input name="genero" type="text" value="{{pelicula.genero}}" />
    <label>Descripción:</label><input name="descripcion" type="text" value="{{pelicula.descripcion}}"/>
    <button class="btn btn-primary" name="update" type="submit">Actualiza</button>
    <button class="btn btn-danger" name="delete" type="submit">Borra</button>
</form>
{% endblock %}
